body{
    background-image: url("https://i.pinimg.com/originals/4f/ac/c3/4facc3c82d1e02d4b8018248fa427b5a.jpg");
    background-repeat: repeat-y;
    background-position: center;
}
h1{
    font-size: 55px;
    text-align: center;
    color: white;   
    text-shadow: 5px 10px 4px rgba(0, 0, 0, 0.8);
    background-color: rgb(0, 27, 149, 0.2);
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 5px 10px;
    box-shadow: 2px 10px 4px rgba(8, 41, 226, 0.1);
    border-radius: 30px;   
    border: double;
    -webkit-text-stroke: 2px rgb(0, 0, 0); /* Ancho y color del borde */
    -webkit-text-fill-color: beige;
    font-family: 'Trebuchet MS', sans-serif;
}
.menu{
        border: double white;
        color: rgba(255, 255, 255, 0.1);
        text-shadow: 5px 10px 4px rgba(0, 0, 0, 0.8);
        text-align: center;
        margin-top: -10px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px 10px 10px;
        box-shadow: 2px 10px 4px rgba(8, 41, 226, 0.1);
        border-radius: 30px;
        background-color: rgb(0, 27, 149, 0.2);
        

}
a:hover{
        background-color: rgb(0, 22, 185);
        padding: 5px 5px 5px 5px;
        border-radius: 10px;
}

a{
        font-family: 'Trebuchet MS', sans-serif;
        -webkit-text-stroke: 1px rgb(0, 0, 0); /* Ancho y color del borde */
        -webkit-text-fill-color: beige;
        font-size: 25px;
        letter-spacing: 0.2px;
        word-spacing: 5px;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
} 
#img1{
    float: left;
    max-width: 40%;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 20px;
}
.lapso{
    margin-left: 30px;
        font-size: 25px;
        padding-left: 5px;
        padding-right: 20px;
        margin-bottom: 90px;
        color: rgb(255, 255, 255);
}
h2{
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
p{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
li{
    color: aliceblue;
    font-size: 25px;
    text-align: center;
}
h3{
    font-size: 30px;
    text-align: center;
    color: azure;

}
td, th{
    border: 5px solid rgb(0, 0, 112);
    padding: 2px 10px 2px;
    font-size: 20px;
}
th{
    background-color: black;
    color: white;
}
.tex{
    font-size: 10px;
}
.video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 (9/16 * 100) */
    overflow: hidden;
    
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#img2{
    text-align: center;
}
footer {
    background-color: #222222;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    margin-top: 10px;
    padding-left: 30px;
    
}
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
}

footer a:hover {
    color: #ccc;
}
footer h4 {
    margin-bottom: 20px;
    font-weight: 600;
}


footer p {
    margin-bottom: 0;
    font-size: 14px;
}
#logo{
    height: auto;
    width: 30px;
    border-radius: 100px;
}
ul{
    text-align: center;
}
.container{}